<div class="bg-dark vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="bg-primary ww">
                <div class="p-4 text-white font-size-xl font-weight-bolder text-center">TASK ASSIGNED BY PARENT</div>
            </div>
            <div class="bg-warning ww">
                <div class="p-4 text-white font-size-xl font-weight-bolder text-center">ASSIGN A TASK TO CHILD</div>
            </div>
            <div class="col-xl-6 ">
                <div class="card my-4 p-2">
                    <div class="card-body">Tasks from the PARENT</div>
                </div>
            </div>

            <div class="col-xl-6 ">
                <div class="card my-4 p-2">
                    <div class="card-body">Tasks to the CHILD</div>
                </div>
            </div>

        </div>
    </div>
</div>